{{extend 'plugin_web2admin/w2a_layout.html'}}

{{if tables:}}
<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>
        {{=T('Table')}}
      </th>
      <th>
        {{=T('Count')}}
      </th>
      <th>
        {{=T('Actions')}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{for table in tables:}}
    <tr>
      <td>
        {{=table}}
      </td>
      <td>
        {{=cdb()(cdb()[table]).count()}}
      </td>
      <td>
        <a class="w2p_trap button btn"
           href="{{=URL('plugin_web2admin','view_table', args=table)}}">
          <span class="icon magnifier icon-zoom-in"></span>
          <span class="buttontext button" title="View">{{=T('View')}}</span></a>
      </td>
    </tr>
    {{pass}}
  </tbody>
</table>
{{else:}}
<p>{{=T('Sorry, you do not have permission to access any tables.')}}</p>
{{pass}}
