{{extend 'plugin_web2admin/layout.html'}}

{{=form.custom.begin}}
{{=form.custom.widget.action}}
{{=form.custom.end}}
{{=grid}}

<script type="text/javascript">
$(function(){
	$('th:first').html($('#no_table_action'));
	$('#no_table_action').select2({width:'100px',  placeholder:"{{=T('Action')}}"});
	$('form').submit(function(){
		var action = $('#no_table_action').val();
		if(action != ''){
			$.post('{{=request.url}}', $(this).serialize() + '&action=' + action);
			window.location.reload();
		}
	});
});
</script>
